
<h1><%= @festival.name %> Lineup</h1>
<br>
<br>

<% @artists.each do |artist| %>
<h3><%= artist.name %></h3>
<p>Explicit Content: <%= artist.explicit_content %></p>
<p>Performance Day: <%= artist.performance_day %></p>
<p>Number of Performances: <%= artist.number_of_performances %></p>
<p>Festival Appearances: <%= artist.festival_appearances %></p>
<% end %>
<h3><%= link_to "Add Artist", "/festivals/#{@festival.id}/artists/new" %></h3>