<h1> Artists Index Page</h1>
<br>
<% if @artists.explicit_true?  %>
<% @artists.each do |artist| %>
<h3><%= link_to "Update #{artist.name}", "/artists/#{artist.id}/edit" %></h3>
  <h2>Name: <%= artist.name %></h2>
  <p>Explicit Content: <%= artist.explicit_content %></p>
  <p>Performance Day: <%= artist.performance_day %></p>
  <p>Number of Performances: <%= artist.number_of_performances%></p>
  <p>Festival Appearances: <%= artist.festival_appearances %></p>
  <% end %>
<% end %>