<h1><%= @artists.name %></h1>
<br>
<p>Explicit Content: <%= @artists.explicit_content %></p>
<p>Performance Day: <%= @artists.performance_day %></p>
<p>Number of Performances: <%= @artists.number_of_performances %></p>
<p>Festival Appearances: <%= @artists.festival_appearances %></p>