
<h1><%= @festivals.name %></h1>
<br>
<p>City/State: <%= @festivals.city %></p>
<p>Are we kid friendly? <%= @festivals.kid_friendly %></p>
<p>Ticket Price: <%= @festivals.ticket_price %></p>
<p>Dates: <%= @festivals.dates %></p>
<p>RV Hookup? <%= @festivals.rv_hookup %></p>

